*.iml
*.lock
*.log
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.pub/
.vscode/
build/
coverage/
ios/Flutter/.last_build_id
lib/generated_plugin_registrant.dart
pubspec.lock
.env
google-services.json
GoogleService-Info.plist
key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
ios/firebase_app_id_file.json